<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} - %5p [%t] --- %c : %m%n"/>
    <property name="LOG_FILE" value="logs/app.log"/>

    <!-- Console appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Encoder configuration for the log сonsole format -->
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Rolling File appender for log rotation (by time) -->
    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <!-- Specify log file rolling policy by time -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app-%d{yyyy-MM-dd}.log</fileNamePattern> <!-- Log file pattern with timestamp -->
            <maxHistory>30</maxHistory> <!-- Number of days of logs to retain -->
            <totalSizeCap>1GB</totalSizeCap> <!-- Total size of log files to retain -->
        </rollingPolicy>

        <!-- Encoder configuration for the log file format -->
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ROLLING_FILE"/>
    </root>

    <!-- Logger for package -->
    <logger name="com.jamavcode.prog" level="DEBUG"/>

</configuration>